@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
body, input, button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
button {
  cursor: pointer;
}

.container-fluid{
  padding: 0 !important;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 16px;
}

.navbar {
  padding-top: 20px;
}
