div#bfundo {
  background: #2B2F50;
  width: 100%;
  padding: 0 100px;
  padding-bottom: 50px;
}

.container-fluid{
  padding: 0 !important;
}

div#content {
  position: relative;
  max-width: 500px;
  margin: 50px 0;
}

div#content h1{
  font-size: 30px;
  font-weight: bold;
  color: #3BC1C4;
}

div#content h1 span {
  color: #ffffff;
  display: block;
}

div#form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
}

div#form h3{
  font-size: 20px;
  font-weight: bold;
  color: #3BC1C4;
}

div#form form input{
  flex: 1;
  margin-right: 4px;
  height: 50px;
  background: #ffffff;
  border: 1.5px solid #3BC1C4;
  border-radius: 4px;
  padding: 15px;
  font-size: 16px;
  color: #666666;
}

div#form form {
  margin-top: 20px;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div#form form button {
  display: flex;
  width: 30;
  align-items: center;
  justify-content: center;
  background: #3BC1C4;
  border: none;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}

div#main {
  margin-top: 25px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0;
}

div#main h4{
  font-weight: lighter;
  margin-bottom: 32px;
}

div#details{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  width: 100%;
}

div#details div.info {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}

div#details div.info img.info_img {
  width: 188px;
  height: auto;
}

div#details div.info h5.info_title {
  text-align: center;
  margin-top: 10px;
}

div#details div.info p.info_text {
  text-align: center;
}

div#gradient{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  padding: 60px 0;
  background: linear-gradient(110.2deg, #3BC1C4 30.84%, rgba(55, 157, 167, 0.63) 58.58%);
}

div#gradient div#info {
  max-width: 550px;
}

div#gradient div#info h3 {
  color: #ffffff;
  text-transform: uppercase;
}

div#gradient div#info p {
  text-transform: uppercase;
  color: #2B2F50;
}
